---
import { Picture } from "astro:assets";
import VideoPlayer from "./VideoPlayer.astro";

interface Props {
	title: string;
	id: string;
	cover: ImageMetadata;
	videoType?: "video/mp4" | "youtube" | "vimeo";
	videoSrc?: string;
}

const { title, id, cover, videoType, videoSrc } = Astro.props;
---

<section>
	{
		() => {
			if (videoType && videoSrc) {
				return <VideoPlayer type={videoType} src={videoSrc} title={title} poster={cover.src} />;
			} else {
				<Picture src={cover} formats={["jpg", "webp"]} alt={title} class="img" />;
			}
		}
	}
</section>

<style>
	section {
		margin-top: 10rem;
	}
	img {
		width: 100%;
		height: auto;
	}
</style>
