---
import { Image } from "astro:assets";
import VideoPlayer from "@components/project/VideoPlayer.astro";
import ChevronRight from "@assets/icons/ChevronRight.astro";

interface Props {
	title: string;
	cover: ImageMetadata;
	videoType?: "video/mp4" | "youtube" | "vimeo";
	videoSrc?: string;
}

const { title, cover, videoType, videoSrc } = Astro.props;
---

<section id="cover">
	<ul class="breadcrumb">
		<li><a href="/" data-cursor="focus">Accueil</a></li>
		<ChevronRight className="size-xs" />
		<li><a href="/#projects" data-cursor="focus">Projets</a></li>
		<ChevronRight className="size-xs" />
		<li>{title}</li>
	</ul>
	<figure>
		{
			videoType && videoSrc ? (
				<VideoPlayer type={videoType} src={videoSrc} title={title} poster={cover.src} />
			) : (
				<Image src={cover} alt={title} class="img" />
			)
		}
	</figure>
</section>

<style>
	ul.breadcrumb {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: var(--text-small);
		text-transform: uppercase;
	}
	ul.breadcrumb {
		list-style: none;
	}
	ul.breadcrumb li a {
		color: var(--white-60);
	}
	ul.breadcrumb li a:hover {
		color: var(--white);
	}
	section {
		margin-top: 7.5rem;
	}
	figure {
		margin-top: 2rem;
	}
	figure img {
		width: 100%;
		height: auto;
	}
</style>
