---
import TwoCols from '@layouts/TwoCols.astro';

interface Props {
  title: string;
	year: number;
	type: string;
  client?: string;
  credits?: {
    role: string;
    name: string[];
  }[];
}

const { title, year, type, client, credits } = Astro.props;
---

<div class="information">
  <h1>{title}</h1>

  <div class="wrapper">
    <TwoCols title="Infos" id="infos" num="01">
      <dl>
        {client &&
          <div class="item">
            <dt class="heading">Client</dt>
            <dd>{client}</dd>
          </div>
        }
        <div class="item">
          <dt class="heading">Type</dt>
          <dd>{type}</dd>
        </div>
        <div class="item">
          <dt class="heading">Année</dt>
          <dd>{year}</dd>
        </div>
      </dl>
    </TwoCols>

    {credits && credits.length > 0 &&
      <TwoCols title="Crédits" id="credits" num="02">
        <dl>
          {credits.map((credit) => (
            <div class="item">
              <dt class="heading">{credit.role}</span>
              <dd>
                <ul>
                  {credit.name.map((name) => (
                    <li>{name}</li>
                  ))}
                </ul>
              </dd>
            </div>
          ))}
        </dl>
      </TwoCols>
    }
  </div>
</div>

<style>
  .information {
    margin-top: 6.5rem;
  }
  .wrapper {
    margin-top: -7.5rem;
  }
  h1 {
		font-size: var(--text-2xl);
		font-weight: 400;
		line-height: 125%;
	}
  .item {
    margin-bottom: 0.75rem;
    display: grid;
		grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .item:last-child {
    margin-bottom: 0;
  }
  .item dt {
    grid-column: span 2 / span 2;
    color: var(--foreground-60);
    padding-right: 1rem;
  }
  .item dd {
    grid-column: span 4 / span 4;
  }
  .item dd ul li {
    list-style: none;
    margin-bottom: 0.75rem;
  }
  .item dd ul li:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 960px) {
		.item {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
		.item dt {
			grid-column: span 1 / span 1;
		}
		.item dd {
			grid-column: span 3 / span 3;
		}
	}

	@media screen and (max-width: 768px) {
		.item {
			grid-template-columns: repeat(6, minmax(0, 1fr));
		}
		.item dt {
			grid-column: span 2 / span 2;
		}
		.item dd {
			grid-column: span 4 / span 4;
		}
	}

  @media screen and (max-width: 480px) {
    .information {
      margin-top: 4.5rem;
    }
    .wrapper {
      margin-top: -4.5rem;
    }
    h1 {
      font-size: var(--text-xl);
    }
		.item dt {
			grid-column: span 3 / span 3;
		}
		.item dd {
			grid-column: span 3 / span 3;
		}
	}
</style>