---
import Layout from "@layouts/Layout.astro";
import Cover from "@components/project/Cover.astro";
import Information from "@components/project/Information.astro";
import Body from "@components/project/Body.astro";
import PreviousNext from "@components/project/PreviousNext.astro";
import { getAdjacentElements } from "@utils/array.utils";
import { getCollection, render } from "astro:content";

// Generate a new path for every project
export async function getStaticPaths() {
	const projects = await getCollection("project");
	projects.sort((a, b) => a.data.order - b.data.order);
	return projects.map((entry, index) => ({
		params: { slug: entry.slug },
		props: {
			entry,
			prev: getAdjacentElements(projects, index).prev as typeof entry,
			next: getAdjacentElements(projects, index).next as typeof entry,
		},
	}));
}

const { entry, prev, next } = Astro.props;
const { Content } = await render(entry);
---

<Layout title={`Orama Production | ${entry.data.title}`} description={`Projet ${entry.data.type} pour ${entry.data.client} réalisé en ${entry.data.year}`} theme="dark">
	<Cover title={entry.data.title} cover={entry.data.cover} videoType={entry.data.video?.type} videoSrc={entry.data.video?.src} />
	<Information title={entry.data.title} year={entry.data.year} type={entry.data.type} client={entry.data.client} credits={entry.data.credits} />
	<Body>
		<Content />
	</Body>
	<PreviousNext previousUrl={`/project/${prev.slug}`} previousTitle={prev.data.title} nextUrl={`/project/${next.slug}`} nextTitle={next.data.title} />
</Layout>