---
import ProjectCard from "./ProjectCard.astro";
import Separator from "../common/Separator.astro";
import Heading from "../common/Heading.astro";

// PROJECTS
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
projects.sort((a, b) => {
	return a.data.id - b.data.id;
});
---

<section id="projects">
	<Separator />
	<Heading id="01">Nos projets</Heading>

	<div class="project-grid">
		{
			projects.map((project) => {
				return (
					<div class="project-cell">
						<ProjectCard
							slug={project.slug}
							title={project.data.title}
							type={project.data.type}
							thumbnail={project.data.thumbnail}
							preview={project.data.preview}
							id={project.data.id > 9 ? "" + project.data.id : "0" + project.data.id}
						/>
					</div>
				);
			})
		}
	</div>
</section>

<style>
	section {
		margin-top: -8rem;
		padding-top: 8rem;
	}
	.project-grid {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		row-gap: 1rem;
	}
	.project-cell {
		border-top: 1px var(--black-4) solid;
		border-bottom: 1px var(--black-4) solid;
		padding: 1rem;
	}

	@media screen and (max-width: 1024px) {
		.project-grid {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}

	@media screen and (max-width: 768px) {
		section {
			margin-top: -6rem;
			padding-top: 6rem;
		}
		.project-grid {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}
</style>
