---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
	slug: string;
	id: number;
	title: string;
	type: string;
	year: number;
	thumbnail: ImageMetadata;
	preview: ImageMetadata;
}

const { slug, id, title, type, year, thumbnail, preview } = Astro.props;
---

<div class="container">
	<div class="wrapper">
		<a class="card" href=`/project/${slug}` data-cursor="icon" data-icon="eye">
			<div class="top">
				<div class="image">
					<Image src={thumbnail} alt={`Projet ${title}.`} class="thumbnail" />
					<Image src={preview} alt={`Aperçu ${title}.`} class="preview" />
				</div>
				<div class="side">
					<div class="text">
						<span>{type}</span>
						<span>{year}</span>
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="title">
					<span>{title}</span>
					<span class="id">
						<svg
							data-testid="geist-icon"
							height="16"
							stroke-linejoin="round"
							viewBox="0 0 16 16"
							width="16"
							style="color: currentcolor;">
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M14.5528 7.77638C14.737 7.86851 14.737 8.13147 14.5528 8.2236L1.3618 14.8191C1.19558 14.9022 1 14.7813 1 14.5955L1 1.4045C1 1.21865 1.19558 1.09778 1.3618 1.18089L14.5528 7.77638Z"
								fill="currentColor">
							</path>
						</svg>
						{id}
					</span>
				</div>
			</div>
		</a>
	</div>
	<div class="corners">
		<div class="corner top-left"></div>
		<div class="corner top-right"></div>
		<div class="corner bottom-left"></div>
		<div class="corner bottom-right"></div>
	</div>
</div>

<style>
	.container {
		display: block;
		position: relative;
		width: 100%;
	}
	.wrapper {
		padding: 1.5rem;
	}

	.card {
		position: relative;
		font-size: var(--text-xs);
		font-weight: 500;
		text-transform: uppercase;
	}
	.card .top {
		display: flex;
		pointer-events: none;
	}
	.card .top .image {
		position: relative;
	}
	.card .top .image .thumbnail {
		aspect-ratio: 1/1;
		height: auto;
		pointer-events: none;
	}
	.card .top .image .preview {
		position: absolute;
		opacity: 0;
		width: 100%;
		top: 0;
		left: 0;
		aspect-ratio: 1/1;
		height: auto;
		transition: opacity ease-in 0.25s;
		transition-delay: 0.25s;
		pointer-events: none;
	}
	.card:hover .top .image .preview {
		opacity: 1;
	}
	.card .top .side {
		display: flex;
		justify-content: center;
		background-color: var(--black-10);
		max-height: 100%;
		min-width: 20px;
		max-width: 20px;
		padding: 0.3rem 0;
	}
	.card .top .side .text {
		display: flex;
		justify-content: space-between;
		align-items: center;
		writing-mode: vertical-lr;
		transform: scale(-1, -1);
	}

	.card .bottom {
		pointer-events: none;
	}
	.card .bottom .title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--black-10);
		padding: 0 0.3rem;
		height: 20px;
		width: calc(100% - 20px);
		max-width: calc(100% - 20px);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.card .bottom .title .id {
		display: flex;
		align-items: center;
		gap: 0.25rem;
	}
	.card .bottom .title .id svg {
		height: 0.5rem;
		width: auto;
	}

	.corners {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 20;
		pointer-events: none;
	}
	.corner {
		position: absolute;
		width: 0.75rem;
		height: 0.75rem;
		transition: all ease-out 0.15s;
	}
	.corner.top-left {
		border-top: 1px solid var(--black-60);
		border-left: 1px solid var(--black-60);
		top: 0;
		left: 0;
	}
	.corner.top-right {
		border-top: 1px solid var(--black-60);
		border-right: 1px solid var(--black-60);
		top: 0;
		right: 0;
	}
	.corner.bottom-left {
		border-bottom: 1px solid var(--black-60);
		border-left: 1px solid var(--black-60);
		bottom: 0;
		left: 0;
	}
	.corner.bottom-right {
		border-bottom: 1px solid var(--black-60);
		border-right: 1px solid var(--black-60);
		bottom: 0;
		right: 0;
	}
	.container:has(.card:hover) .corners .corner.top-left {
		top: 0.25rem;
		left: 0.25rem;
	}
	.container:has(.card:hover) .corners .corner.top-right {
		top: 0.25rem;
		right: 0.25rem;
	}
	.container:has(.card:hover) .corners .corner.bottom-left {
		bottom: 0.25rem;
		left: 0.25rem;
	}
	.container:has(.card:hover) .corners .corner.bottom-right {
		bottom: 0.25rem;
		right: 0.25rem;
	}

	@media screen and (max-width: 480px) {
		.card .wrapper {
			padding: 1rem;
		}

		.container:has(.card:hover) .corners .corner.top-left {
			top: 0;
			left: 0;
		}
		.container:has(.card:hover) .corners .corner.top-right {
			top: 0;
			left: 0;
		}
		.container:has(.card:hover) .corners .corner.bottom-left {
			top: 0;
			left: 0;
		}
		.container:has(.card:hover) .corners .corner.bottom-right {
			top: 0;
			left: 0;
		}
	}
</style>
