---
import ProjectCard from "./ProjectCard.astro";
import Separator from "../common/Separator.astro";
import Heading from "../common/Heading.astro";

// PROJECTS
import { getCollection } from "astro:content";

const projects = await getCollection("project");
projects.sort((a, b) => {
	return a.data.order - b.data.order;
});
---

<section id="projects">
	<Separator />
	<Heading id="01">Nos projets</Heading>

	<div class="project-grid">
		{
			projects.map((project, index) => {
				return (
					<div class="project-cell">
						<ProjectCard
							slug={project.slug}
							id={index + 1}
							title={project.data.title}
							type={project.data.type}
							thumbnail={project.data.thumbnail}
							preview={project.data.preview}
							year={project.data.year}
						/>
					</div>
				);
			})
		}
	</div>
</section>

<style>
	section {
		margin-top: -5rem;
		padding-top: 5rem;
	}
	.project-grid {
		margin-top: 3rem;
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		gap: 0.25rem;
	}

	@media screen and (max-width: 1024px) {
		.project-grid {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}

	@media screen and (max-width: 768px) {
		section {
			margin-top: -5rem;
			padding-top: 5rem;
		}
		.project-grid {
			grid-template-columns: repeat(1, minmax(0, 1fr));
		}
	}
</style>
