---
import ProjectCard from './ProjectCard.astro'
import Separator from '../common/Separator.astro'
import Heading from '../common/Heading.astro'

// PROJECTS
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
projects.sort((a, b) => {
  return a.data.id - b.data.id;
});

const count = projects.length;
---

<section id="projects">
  <Separator />
  <Heading id="01">Nos projets</Heading>

  <div class="grid-container">
    <div class="overlay"></div>
    <div class="stripes-pattern"></div>
    <div class="projects" id="projects">

      {projects.map((project, index) => (
        <ProjectCard
          slug={project.slug}
          title={project.data.title}
          type={project.data.type}
          thumbnail={project.data.thumbnail}
          preview={project.data.preview}
          position={{x: project.data.x_axis, y: ((index * 100 / count) + ((index * 100 / count)/count))}}
          id={project.data.id > 9 ? "" + project.data.id : "0" + project.data.id}
        />
      ))}
    </div>
  </div>
</section>

<style define:vars={{ projectsNumber: count }}>
  section {
    margin-top: -8rem;
    padding-top: 8rem;
  }
  .grid-container {
    margin-top: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--card-w)*var(--projectsNumber) + 2rem + 2rem*var(--projectsNumber));
    overflow: hidden;
    border: 1px solid var(--black-3);
    padding: 1rem;
    background-color: var(--black-3);
  }

  .stripes-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 30px 30px;
    background-image:
      linear-gradient(to right, var(--white) 26px, transparent 26px),
      linear-gradient(to bottom, var(--white) 26px, transparent 26px);
    background-position: center;
  }
  .overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3rem 3rem rgba(255,255,255,1) inset;
    -webkit-box-shadow: 0 0 2rem 2rem var(--white-50) inset;
    -moz-box-shadow: 0px 0px 35px 35px rgba(255,255,255,0.5) inset;
  }
  .projects {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 768px) {
    .grid-container {
      padding: 1rem;
    }
    section {
      margin-top: -6rem;
      padding-top: 6rem;
    }
  }

</style>