---
import { ClientRouter } from "astro:transitions";
import Container from "./Container.astro";
import Header from "./Header.astro";
import Background from "./Background.astro";
import Cursor from "../components/common/Cursor.astro";
import Footer from "./Footer.astro";

interface Props {
	title: string;
	description: string;
	theme: "light" | "dark";
}

const { title, description, theme } = Astro.props;

const fade = {
	old: {
		name: "fade-out",
		duration: "0.5s",
		easing: "ease-in-out",
	},
	new: {
		name: "slide-in",
		duration: "1.5s",
		easing: "ease-in-out",
	},
};

const fadeTransition = {
	forwards: fade,
	backwards: fade,
};
---

<!doctype html>
<html lang="fr" class={theme} transition:animate="none" transition:persist="root">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<Cursor />
		<Background />
		<Header />
		<Container>
			<main transition:animate={fadeTransition}>
				<slot />
				<Footer />
			</main>
		</Container>
	</body>
</html>

<script define:vars={{ theme }}>
	function setTheme() {
		const root = document.getElementsByTagName("html")[0];
		root.className = theme;
	}

	document.addEventListener("astro:before-swap", () => {
		setTheme();
	});

	// check if touch device
	if ("ontouchstart" in window || navigator.maxTouchPoints > 0) {
		document.body.classList.add("touch-device");
	}

	setTheme();
</script>

<style is:global>
	/* GLOBAL */
	@font-face {
		font-family: "Geist Mono";
		src: url("/fonts/GeistMono.ttf") format("truetype");
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}

	/* VARIABLES */
	:root {
		--white: rgb(230, 230, 230);
		--white-60: rgba(230, 230, 230, 0.6);
		--white-2: rgba(230, 230, 230, 0.025);

		--gray: rgba(100, 100, 100, 1);

		--black: rgb(25, 25, 25);
		--black-80: rgba(25, 25, 25, 0.8);
		--black-60: rgba(25, 25, 25, 0.6);
		--black-40: rgba(25, 25, 25, 0.4);
		--black-20: rgba(25, 25, 25, 0.2);
		--black-10: rgba(25, 25, 25, 0.1);
		--black-7: rgba(25, 25, 25, 0.07);
		--black-4: rgba(25, 25, 25, 0.04);
		--black-0: rgba(25, 25, 25, 0);

		--text-xs: 0.75rem;
		--text-small: 0.875rem;
		--text-base: 1rem;
		--text-medium: 1.25rem;
		--text-large: 1.75rem;
		--text-xl: 2rem;
		--text-2xl: 2.75rem;

		--font-mono: "Geist Mono", monospace;
	}

	/* GENERAL */
	html.light {
		color: var(--black);
		--background-color: var(--white);
		--background-lines: var(--black-4);
	}
	html.light ::selection {
		background-color: var(--black);
		color: var(--white);
	}
	html.dark {
		color: var(--white);
		--background-color: var(--black);
		--background-lines: var(--white-2);
	}
	html.dark ::selection {
		background-color: var(--white);
		color: var(--black);
	}
	html {
		font-family: var(--font-mono);
		background: var(--background-color);
		transition: all ease-in-out 1s;
		transition-delay: 0.5s;
		scroll-behavior: smooth;
	}
	main {
		animation: slide-in 1.5s ease-in-out;
	}

	/* TEXT */
	.paragraph {
		font-size: var(--text-base);
		line-height: 150%;
		margin-bottom: 1rem;
	}
	.heading {
		text-transform: uppercase;
		font-size: var(--text-small);
		font-weight: 600;
		margin-bottom: 0.25rem;
	}

	/* ANIMATIONS */
	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes fade-out {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes slide-in {
		0% {
			opacity: 0;
			transform: translateY(2rem);
		}
		66% {
			opacity: 0;
			transform: translateY(2rem);
		}
		100% {
			opacity: 1;
			transform: translateY(0rem);
		}
	}

	/* RESET */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	* {
		margin: 0;
	}
	html {
		height: 100%;
	}
	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}
	input,
	button,
	textarea,
	select {
		font: inherit;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}
	button {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
	}
	a {
		text-decoration: none;
		color: var(--color-text);
	}
	ul {
		margin-block-start: 0px;
		margin-block-end: 0px;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 0px;
	}
	picture {
		pointer-events: none;
	}
</style>
